PORT=5000
MONGODB_URI=mongodb+srv://divyadanampalli_db_user:pdDWXdHECl3t4oGo@cluster0.fr2inmc.mongodb.net/?appName=Cluster0
JWT_SECRET=36b8de56c926aab236add14029bbbb0ebf64e1da8b38bbb7103fb57e40eb0e03
NODE_ENV=development
CLIENT_URL=http://localhost:3000

